{% extends "base.html" %}
{% load static %}

{% block title %}Create Booking{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/booking_form.css' %}">
</link>

<div class="booking-form-page">

    <div class="container-presets booking-form-container">

        <h1 class="title1-presets">Hey {{ user.username.title }}, Going to {{ trip.city }}?</h1>
        <div class="booking-form-trip-details">
            <p>From: {{ trip.departure_date }}</p>
            <p>Until: {{ trip.return_date }}</p>
            <p>{{ trip.calculate_duration }} Days</p>
            <p>{{ trip.hotel }}</p>
        </div>
        
        <div class="booking-form">

            <form method="post">
                {% csrf_token %}

                <div class="booking-form-group">
                    <input type="hidden" name="trip" value="{{ trip.pk }}">
                    {{ form.trip }}
                </div>
            
                {% if form.errors %}
                <div class="top-booking-form-error" role="alert">
                  Please fill the suggested fields bellow.
                </div>
                {% endif %}

                <hr class="divider-presets">
                <div class="booking-form-group">
                    <label for="{{ form.tickets_adult.id_for_label }}">
                        Adults
                    </label><br>
                    {% if form.tickets_adult.errors %}
                    <div class="booking-form-error">{{ form.tickets_adult.errors }}</div>
                    {% endif %}
                    {{ form.tickets_adult }}
                </div>
            
                <div class="booking-form-group">
                    <label for="{{ form.tickets_child.id_for_label }}">
                        Children
                    </label><br>
                    {% if form.tickets_child.errors %}
                    <div class="booking-form-error">{{ form.tickets_child.errors }}</div>
                    {% endif %}
                    {{ form.tickets_child }}
                </div>

                <div class="booking-form-price-details">
                    <div class="booking-form-static-prices-container">
                        <h3 class="booking-form-price-title">Price Per Person</h3>
                     
                        <p>1 Adult Ticket: ${{ trip.calculate_adult_price|floatformat:0 }}</p>
                        <p>1 Child Ticket: ${{ trip.calculate_child_price|floatformat:0 }}</p>
                    </div>

                    <div class="booking-form-dynamic-prices-container">
                        <h3 class="booking-form-price-title">Price For Tickets</h3>
                        <p>Adult Total: $<span id="adult-ticket-total">0.00</span></p>
                        <p>Child Total: $<span id="child-ticket-total">0.00</span></p>
                    </div>
                </div>
                <h2 class="booking-partial-price">Tickets $<span id="ticket-price">0.00</span></h2>
                <hr class="divider-presets">

                <div class="booking-form-group">
                    <label for="{{ form.meal_plan.id_for_label }}">
                        Meal Plan
                    </label><br>
                    {% if form.meal_plan.errors %}
                        <div class="booking-form-error">{{ form.meal_plan.errors }}</div>
                    {% endif %}
                    {{ form.meal_plan }}
                </div>

                <div class="booking-form-price-details">
                    <div class="booking-form-static-prices-container">
                        <h3 class="booking-form-price-title">Price Per Day</h3>
                        <p>Breakfast & Bed:
                            ${{ trip.hotel.bb_price }}</p>
                            <p>Half Board: 
                            ${{ trip.hotel.hb_price }}</p>
                            <p>Full Board: 
                            ${{ trip.hotel.fb_price }}</p>
                            <p>All Inclusive: 
                            ${{ trip.hotel.ai_price }}</p>
                    </div>

                    <div class="booking-form-dynamic-prices-container">
                        <h3 class="booking-form-price-title">Price For Trip</h3>
                        <p>Breakfast & Bed: $<span id="meal-bb-price"></span></p>
                        <p>Half Board: $<span id="meal-hb-price"></span></p>
                        <p>Full Board: $<span id="meal-fb-price"></span></p>
                        <p>All Inclusive: $<span id="meal-ai-price"></span></p>
                    </div>
                </div>
                <h2 class="booking-partial-price">Meal plan $<span id="meal-plan-price">0.00</span></h2>
                <hr class="divider-presets">
                
                <div class="booking-form-group">
                    <label for="{{ form.wants_flight.id_for_label }}">
                        Fly with us?
                    </label><br>
                    {{ form.wants_flight }}
                </div>
                
                <div class="booking-form-group" id="booking-from-airport-group" style="display:none;">
                    <label for="{{ form.from_airport.id_for_label }}">
                        Departure Airport
                    </label><br>
                    {% if form.from_airport.errors %}
                    <div class="booking-form-error">{{ form.from_airport.errors }}</div>
                    {% endif %}
                    {{ form.from_airport }}
                </div>
            
                <div class="booking-form-group" id="booking-pickup-group" style="display:none;">
                    <label for="{{ form.wants_airport_pickup.id_for_label }}">
                        Pick You Up From Airport?
                    </label><br>

                    {{ form.wants_airport_pickup }}
                    {% if form.wants_airport_pickup.errors %}
                    <div class="booking-form-error">{{ form.wants_airport_pickup.errors }}</div>
                    {% endif %}
                </div>
            
                <div class="booking-form-group" id="booking-dropoff-group" style="display:none;">
                    <label for="{{ form.wants_airport_dropoff.id_for_label }}">
                        Drop You Off At The Airport?
                    </label><br>
                    {{ form.wants_airport_dropoff }}
                    {% if form.wants_airport_dropoff.errors %}
                    <div class="booking-form-error">{{ form.wants_airport_dropoff.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="booking-form-price-details">
                    <div class="booking-form-static-prices-container">
                        <h3 class="booking-form-price-title">Price For Services</h3>
                        <p>Pick Up: ${{ trip.airport.airport_pick_up_cost }}</p>
                        <p>Drop Off: ${{ trip.airport.airport_drop_off_cost }}</p>
                    </div>

                    <div class="booking-form-dynamic-prices-container">
                        <h3 class="booking-form-price-title">Price For Airport</h3>
                        <p>Services Total: €<span id="airport-service-price">0.00</span></p>
                        <p>Flight Tickets Total: €<span id="flight-ticket-price">0.00</span></p>
                    </div>
                </div>

                <h2 class="booking-partial-price">Airport $<span id="airport-price">0.00</span></h2>
                <hr class="divider-presets">

                <div class="booking-form-group">
                    <label for="{{ form.wants_car_rental.id_for_label }}">
                        Rent A Car?
                    </label><br>
                    {% if form.wants_car_rental.errors %}
                    <div class="booking-form-error">{{ form.wants_car_rental.errors }}</div>
                    {% endif %}
                    {{ form.wants_car_rental }}
                </div>
            
                <div class="booking-form-group" id="booking-rent-days-group" style="display:none;">
                    <label for="{{ form.car_rental_days.id_for_label }}">
                        How Many Days?
                    </label><br>
                    {% if form.car_rental_days.errors %}
                    <div class="booking-form-error">{{ form.car_rental_days.errors }}</div>
                    {% endif %}
                    {{ form.car_rental_days }}
                </div>

                <div class="booking-form-price-details">
                    <div class="booking-form-static-prices-container">
                        <h3 class="booking-form-price-title">Price Per Day</h3>
                        <p>Car Rental: ${{ trip.hotel.city.car_rental_cost }}</p>
                    </div>
                </div>

                <h2 class="booking-partial-price">Car rental $<span id="car-rental-price">0.00</span></h2>
                <hr class="divider-presets">

                <button type="submit" class="save-booking-button">Save Booking</button>
                

                <h1 class="booking-total-price">
                    <span>Total price $</span><span id="total-price">0.00</span>
                </h1>
                <!-- -- -- -- for javascript -- -- -- -->
                <div id="booking-pricing-data"
                    data-duration="{{ trip_duration }}"
                    data-adult-unit-price="{{ adult_unit_price }}"
                    data-child-unit-price="{{ child_unit_price }}"
                    data-meal-bb="{{ meal_plan_prices.BB }}"
                    data-meal-hb="{{ meal_plan_prices.HB }}"
                    data-meal-fb="{{ meal_plan_prices.FB }}"
                    data-meal-ai="{{ meal_plan_prices.AI }}"
                    data-meal-none="{{ meal_plan_prices.None }}"
                    data-car-rental-cost="{{ city_car_rental_cost }}"
                    data-airport-pickup="{{ airport_pickup_cost }}"
                    data-airport-dropoff="{{ airport_dropoff_cost }}"
                    data-to-country="{{ to_country }}"
                    data-to-continent="{{ to_continent }}">
                </div>
                    

            </form>
        </div>
    </div>

</div>
<!-- Javascript -->
<!-- JSON data for airports -->

{{ airport_data|json_script:"airport-json" }}
<script src="{% static 'js/pages/booking_form.js' %}"></script>

{% endblock %}