{% extends "base.html" %}

{% block title %}Search Trips{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pages/trip_search.css' %}">
    <!-- Display filtered trips -->
    <div class="trip-search-container">
        
        {% for trip in trips.object_list %}
        <div class="trip-search-card">
            <a href="{% url 'trip_info' pk=trip.pk %}">
                <h2 class="title2-presets trip-search-card-title">{{ trip }}</h2>

                <div class="trip-search-card-dates">
                    <span>{{ trip.departure_date }} - {{ trip.return_date }}</span>
                </div>

                <div class="trip-search-image-container">
                    {% if trip.hotel.city.image %}
                        <img src="{{ trip.hotel.city.image.url }}" alt="City image" class="trip-search-image">
                    {% endif %}
                </div>
                <div class="trip-search-prices">
                    {% if tickets_adults > 1 %}
                        <p>For {{ tickets_adults }} adults ${{ trip.adult_price|floatformat:0 }}</p>
                    {% else %}
                        <p>1 Adult Ticket ${{ trip.calculate_adult_price|floatformat:0 }}</p>
                    {% endif %}
                    
                    {% if tickets_children == 1 %}
                        <p>1 Child Ticket ${{ trip.calculate_child_price|floatformat:0 }}</p>
                    {% elif tickets_children > 1 %}
                        <p>For {{ tickets_children }} children ${{ trip.child_price|floatformat:0 }}</p>
                    {% endif %}

                    {% if trip.total_flight_cost %}
                        <p>Flight Cost ${{ trip.total_flight_cost|floatformat:0 }}</p>
                    {% else %}
                        <p>Without Flight ⚠️</p>
                    {% endif %}

                    {% if budget != None %}
                        <p>Your Budget ${{ budget }}</p>
                    {% endif %}

                    {% if tickets_adults != 1 or tickets_children or trip.total_flight_cost or budget %}
                        <p>Total: ${{ trip.total_price|floatformat:0 }}</p>
                    {% endif %}
                    
                </div>
            </a>
        </div>
        {% empty %}
        <div class="trip-card">
            <p>no trips to match your criteria</p>
        </div>
        {% endfor %}

    </div>    

    <!-- Pagination Controls -->
{% if trips.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if trips.has_previous %}
            <a href="?search_page={{ trips.previous_page_number }}&{{ request.GET.urlencode|slice:':-1' }}" class="page-link">Previous</a>
        {% else %}
            <span class="page-link disabled">Previous</span>
        {% endif %}

        <span class="page-info">Page {{ trips.number }} of {{ trips.paginator.num_pages }}</span>

        {% if trips.has_next %}
            <a href="?search_page={{ trips.next_page_number }}&{{ request.GET.urlencode|slice:':-1' }}" class="page-link">Next</a>
        {% else %}
            <span class="page-link disabled">Next</span>
        {% endif %}
    </div>
{% endif %}
    
{% endblock %}