{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">

<div class="edit-profile-page">

    <div class="container-presets">
        <h1 class="title1-presets">Edit Profile</h1>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_name" class="label-presets">First Name</label><br>
                <input id="id_name" type="text" name="name" value="{{ form.name.value }}" class="input-presets" autocomplete="given-name" />
            </div>

            <div class="form-group">
                <label for="id_surname" class="label-presets">Last Name</label><br>
                <input id="id_surname" type="text" name="surname" value="{{ form.surname.value }}" class="input-presets" autocomplete="family-name" />
            </div>

            <div class="form-group">
                <label for="id_country" class="label-presets">Country</label><br>
                <select id="id_country" name="country" class="input-presets">
                    <option value="">Select a country</option>
                    {% for country in form.country.field.queryset %}
                        <option value="{{ country.pk }}" {% if form.country.value == country.pk|stringformat:"s" %}selected{% endif %}>
                            {{ country }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="id_city" class="label-presets">City</label><br>
                <select id="id_city" name="city" class="input-presets">
                    <option value="">Select a city</option>
                    {% for city in form.city.field.queryset %}
                        <option value="{{ city.pk }}" {% if form.city.value == city.pk|stringformat:"s" %}selected{% endif %}>
                            {{ city }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            
            <button type="submit" class="button-presets">Save Changes</button>
            <a href="{% url 'user_profile' request.user.username %}">
                <button class="button-presets">Back to Profile</button>
            </a>
        </form>
    </div>
</div>
{% endblock %}
    