{% extends "base.html" %}

{% block title %}Contact Page{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pages/contact_us.css' %}">

<div class="container-presets contact-us-container">
    <h1 class="title1-presets">Contact Us</h1>


    {% if messages %}
    <ul class="contact-us-top-message">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <div class="contact-us-form">


        <form method="post">
            {% csrf_token %}
            
            <div>
                <label for="{{ form.name.id_for_label }}">Name</label><br>
                {{ form.name }}  <!-- Renders the input field for name -->
                {% if form.name.errors %}
                <ul class="errors">
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            
            <div>
                <label for="{{ form.email.id_for_label }}">Email</label><br>
                {{ form.email }}  <!-- Renders the input field for email -->
                {% if form.email.errors %}
                <ul class="errors">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            
            <div>
                <label for="{{ form.message.id_for_label }}">Message</label><br>
                {{ form.message }}  <!-- Renders the textarea for message -->
                {% if form.message.errors %}
                <ul class="errors">
                    {% for error in form.message.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            
            <button class="button-presets contact-us-form-button" type="submit">Contact Us</button>
        </form>
        
        
        
    </div>





</div>



<!-- PREVIOUS MESSAGES -->
{% if user_messages %}
    <div class="container-presets contact-us-messages-container">
        <h1 class="title1-presets">Messages</h1>
        <ul>
        {% for msg in user_messages %}
            <div class="invert-container contact-us-messages-container-message">
            <li>
                <div class="contact-us-user-message">
                    <h3 class="messages-item">
                    {{ msg.name }}
                    </h3><br>
        
                    <p class="messages-item">
                    {{ msg.message|linebreaks }}
                    </p><br>
                </div>
                <small class="messages-item">Sent: {{ msg.created_at|date:"Y-m-d H:i" }}</small>
                    
        
        

                {% if msg.replied and msg.reply_message %}

                <hr class="divider-presets">
                <div class="contact-us-admin-reply">
                    
                    <p>{{ msg.reply_message|linebreaks }}</p>
                </div>
                <small>Django-travel {{ msg.replied_at|date:"Y-m-d H:i" }}</small><br>
                {% endif %}
            </li>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>You haven't sent any messages yet.</p>
    </div>
{% endif %}




{% endblock %}